@media screen and (max-width:550px){
    .cajita{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }
    .cards{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__card-body{
        width: 100%;
        background-color: #bd3e3e;
        padding: 10px;
        margin: 10px;
    }
    }
    
    .colaboraciones__samsung video{
        width: 70%;
        height: 500px;
    }
}
@media screen and (max-width:1200px) {
    .samsung video{
        width: 70%;
        height: 500px;
    }
}
